.conteudo {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.background {
  height: 80vh;
  position: absolute;
  left: 0;
}

hr {
  border: none;
  height: 1px;
  background-color: rgba(229, 229, 229, 0.2);
}

.perfil hr {
  width: 100%;
  margin-top: 20px;
}

.info {
  width: 60%;
  margin-right: 90px;
  margin-top: 40px;
  color: white;
}

input {
  border: 1px solid #999999;
  width: 50%;
  border-radius: 22px;
  color: aliceblue;
  min-width: 250px;
  margin-right: 18px;
  background: transparent;
  font-size: 18px;
  padding: 10px;
}

button {
  border: 1px solid #999999;
  border-radius: 22px;
  margin-right: 18px;
  background: #2d333b;
  color: white;
  font-size: 18px;
  padding: 10px;
}

.perfil {
  display: flex;
  margin: 40px 0;
}

.profile {
  border-radius: 60px;
  border: 2px solid white;
  height: 120px;
  margin-right: 32px;
}

.perfil h3 {
  color: #999999;
  font-size: 24px;
  margin: 0;
}

.perfil span {
  display: block;
  color: #999999;
  font-size: 12px;
  margin: 0;
}

.perfil p {
  color: #999999;
  font-size: 12px;
  margin: 20px 0 0 0;
}

.repositorio {
  font-size: 32px;
  color: white;
  margin: 12px;
  text-align: center;
}
